In [153]:
###############################################
# Python Alıştırmalar
###############################################

###############################################
# GÖREV 1: Veri yapılarının tipleriniz inceleyiniz.
###############################################

In [154]:
x = 8

print(type(x))

y = 3.2

print(type(y))


z = 8j + 18

print(type(z))


a = "Hello World"

print(type(a))


b = True

print(type(b))


c = 23 < 22

print(type(c))



l = [1, 2, 3, 4,"String",3.2, False]
print(type(l))



d = {"Name": "Jake",
     "Age": [27,56],
     "Adress": "Downtown"}
print(type(d))


t = ("Machine Learning", "Data Science")

print(type(t))



s = {"Python", "Machine Learning", "Data Science","Python"}

print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [155]:
###############################################
# GÖREV 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.
###############################################

In [156]:
text = "The goal is to turn data into information, and information into insight."

In [157]:
text=text.upper()
text=text.replace('.','').replace(',','')
text=text.split()
print(text)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

In [158]:
###############################################
# GÖREV 3: Verilen liste için aşağıdaki görevleri yapınız.
###############################################

In [159]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

In [160]:
# Adım 1: Verilen listenin eleman sayısına bakın.

len(lst)

11

In [161]:
# Adım 2: Sıfırıncı ve onuncu index'teki elemanları çağırın.

lst[0],lst[10]

('D', 'E')

In [162]:
# Adım 3: Verilen liste üzerinden ["D","A","T","A"] listesi oluşturun.
lst[0:4]

['D', 'A', 'T', 'A']

In [163]:
# Adım 4: Sekizinci index'teki elemanı silin.
lst[8]
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [164]:
# Adım 5: Yeni bir eleman ekleyin.
lst.append('_G')
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', '_G']

In [165]:
# Adım 6: Sekizinci index'e  "N" elemanını tekrar ekleyin.
lst[8]
lst.insert(8,'N')
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', '_G']

In [166]:
###############################################
# GÖREV 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
###############################################

In [167]:
dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

In [168]:
# Adım 1: Key değerlerine erişiniz.

dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [169]:
# Adım 2: Value'lara erişiniz.
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [170]:
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

dict['Daisy']=["England",13]
dict['Daisy']

['England', 13]

In [171]:
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict['Ahmet']=['Turkey',24]
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [172]:
# Adım 5: Antonio'yu dictionary'den siliniz.

In [173]:
dict.pop("Antonio")
['Spain', 22]

['Spain', 22]

In [174]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [175]:
###############################################
# GÖREV 5: Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return eden fonskiyon yazınız.
###############################################

In [176]:
liste = [2,13,18,93,22]

tek_sayilar=[]
çift_sayilar=[]

def tek_çift():
    for i in liste:
        if i % 2 ==0:
             çift_sayilar.append(i)
        else:
             tek_sayilar.append(i)
    return tek_sayilar,çift_sayilar

In [177]:
liste_tek_çift=tek_çift()
tek_sayilar

[13, 93]

In [178]:
liste_tek_çift=tek_çift()
çift_sayilar

[2, 18, 22, 2, 18, 22]

In [179]:
###############################################
# GÖREV 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır.
# Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.
# Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.
###############################################

In [180]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [181]:
mühendislik_öğrencileri=ogrenciler[:3]
tip_öğrencileri=ogrenciler[3:]

In [186]:
print("Mühendislik Fakültesi Öğrencileri:")
for index, ogrenci in enumerate(mühendislik_öğrencileri, start=1):
    print(f"{index}. {ogrenci}")

print('******************************************')
print("Tip Fakültesi Öğrencileri:")

for index,ogrenci in enumerate(tip_öğrencileri,start=1):
    print(f'{index}.{ogrenci}')

Mühendislik Fakültesi Öğrencileri:
1. Ali
2. Veli
3. Ayşe
******************************************
Tip Fakültesi Öğrencileri:
1.Talat
2.Zeynep
3.Ece

In [187]:
###############################################
# GÖREV 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.
###############################################
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [192]:
ders_notlari=zip(ders_kodu,kredi,kontenjan)

print(list(ders_notlari))

[('CMP1005', 3, 30), ('PSY1001', 4, 75), ('HUK1005', 2, 150), ('SEN2204', 4, 25)]

In [193]:
###############################################
# GÖREV 8: Aşağıda 2 adet set verilmiştir.
# Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.
###############################################

kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

In [194]:
def kümeler():
    if kume1.issubset(kume2):
        ortak_eşleşmeler=kume1.intersection(kume2)
        print("Ortak elemanlar : ",ortak_eşleşmeler)
    else:
        fark=kume2.difference(kume1)
        print("kume2'nin kume1 den farkı",fark)

kümeler()

Ortak elemanlar :  {'data', 'python'}